- default_full = false
- if @area
  - title = title_string([t('new_waypoint_in') + " " + @area.name])
- else
  - title = title_string([t('new') + " " + t('waypoint.title')])
- content_for :title, title
%h1= title

= render 'form'

.btn-group
  - if can?(:read, resource.class)
    = link_to collection_path, class: 'btn' do
      %i.icon-search
      = t(:back)

